/dts-v1/;
/plugin/;

#include <dt-bindings/pinctrl/rzg2l-pinctrl.h>
#include <dt-bindings/gpio/gpio.h>


/ {
	cam1_1v8_supply: 1p8v {
		compatible = "regulator-fixed";
		regulator-name = "cam1_1v8_supply";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		regulator-always-on;
	};

	cam1_2v8_supply: 2p8v {
		compatible = "regulator-fixed";
		regulator-name = "cam1_2v8_supply";
		regulator-min-microvolt = <2800000>;
		regulator-max-microvolt = <2800000>;
		gpios = <&pinctrl RZG2L_GPIO(10, 2) 0>;
		startup-delay-us = <300000>;
	};

	cam1_1v2_supply: 1p2v {
		compatible = "regulator-fixed";
		regulator-name = "cam1_1v2_supply";
		regulator-min-microvolt = <1200000>;
		regulator-max-microvolt = <1200000>;
		regulator-always-on;
	};
};

&csi20 {
	status = "okay";
	ports {
		port@0 {
			reg = <0>;
			csi20_in: endpoint {
				clock-lanes = <0>;
				data-lanes = <1 2>;
				remote-endpoint = <&imx_to_csi20>;
			};
		};
	};
};

&csi21 {
	status = "okay";
	ports {
		port@0 {
			reg = <0>;
			csi21_in: endpoint {
				clock-lanes = <0>;
				data-lanes = <1 2>;
				remote-endpoint = <&imx_to_csi21>;
			};
		};
	};
};

&csi22 {
	status = "okay";
	ports {
		port@0 {
			reg = <0>;
			csi22_in: endpoint {
				clock-lanes = <0>;
				data-lanes = <1 2>;
				remote-endpoint = <&imx_to_csi22>;
			};
		};
	};
};

&csi23 {
	status = "okay";
	ports {
		port@0 {
			reg = <0>;
			csi23_in: endpoint {
				clock-lanes = <0>;
				data-lanes = <1 2>;
				remote-endpoint = <&imx_to_csi23>;
			};
		};
	};
};

&i2c0 {
	pinctrl-0 = <&i2c0_pins>;
	pinctrl-names = "default";
	status = "okay";

	imx219_csi20: imx219@10 {
		compatible = "sony,imx219";
		reg = <0x10>;

		clock-names = "xclk";
		clocks = <&clk_ext_camera>;
		clock-frequency = <24000000>;
		VANA-supply = <&cam1_2v8_supply>;
		VDIG-supply = <&cam1_1v8_supply>;
		VDDL-supply = <&cam1_1v2_supply>;

		enable-gpios = <&pinctrl RZG2L_GPIO(4, 1) GPIO_ACTIVE_HIGH>;
		reset-gpios = <&pinctrl RZG2L_GPIO(4, 0) GPIO_ACTIVE_HIGH>;

		port {
			imx_to_csi20: endpoint {
				clock-lanes = <0>;
				data-lanes = <1 2>;
				link-frequencies = /bits/ 64 <456000000>;
				remote-endpoint = <&csi20_in>;
			};
		};
	};

	/delete-node/ ov5645_csi20@3c;
};

&i2c1 {
	pinctrl-0 = <&i2c1_pins>;
	pinctrl-names = "default";
	status = "okay";

	/delete-node/ ov5645_csi21@3c;

	imx219_csi21: imx219@10 {
		compatible = "sony,imx219";
		reg = <0x10>;
		clock-names = "xclk";

		clocks = <&clk_ext_camera>;
		clock-frequency = <24000000>;
		VANA-supply = <&cam1_2v8_supply>;
		VDIG-supply = <&cam1_1v8_supply>;
		VDDL-supply = <&cam1_1v2_supply>;

		enable-gpios = <&pinctrl RZG2L_GPIO(4, 3) GPIO_ACTIVE_HIGH>;
		reset-gpios = <&pinctrl RZG2L_GPIO(4, 2) GPIO_ACTIVE_HIGH>;

		port {
			imx_to_csi21: endpoint {
				clock-lanes = <0>;
				data-lanes = <1 2>;
				link-frequencies = /bits/ 64 <456000000>;
				remote-endpoint = <&csi21_in>;
			};
		};
	};
};

&i2c2 {
	pinctrl-0 = <&i2c2_pins>;
	pinctrl-names = "default";
	status = "okay";

	/delete-node/ ov5645_csi22@3c;

	imx219_csi22: imx219@10 {
		compatible = "sony,imx219";
		reg = <0x10>;
		clock-names = "xclk";

		clocks = <&clk_ext_camera>;
		clock-frequency = <24000000>;
		VANA-supply = <&cam1_2v8_supply>;
		VDIG-supply = <&cam1_1v8_supply>;
		VDDL-supply = <&cam1_1v2_supply>;

		enable-gpios = <&pinctrl RZG2L_GPIO(4, 5) GPIO_ACTIVE_HIGH>;
		reset-gpios = <&pinctrl RZG2L_GPIO(4, 4) GPIO_ACTIVE_HIGH>;

		port {
			imx_to_csi22: endpoint {
				clock-lanes = <0>;
				data-lanes = <1 2>;
				link-frequencies = /bits/ 64 <456000000>;
				remote-endpoint = <&csi22_in>;
			};
		};
	};
};

&i2c3 {
	pinctrl-0 = <&i2c3_pins>;
	pinctrl-names = "default";
	status = "okay";

	/delete-node/ ov5645_csi23@3c;

	imx219_csi23: imx219@10 {
		compatible = "sony,imx219";
		reg = <0x10>;
		clock-names = "xclk";

		clocks = <&clk_ext_camera>;
		clock-frequency = <24000000>;
		VANA-supply = <&cam1_2v8_supply>;
		VDIG-supply = <&cam1_1v8_supply>;
		VDDL-supply = <&cam1_1v2_supply>;

		enable-gpios = <&pinctrl RZG2L_GPIO(4, 7) GPIO_ACTIVE_HIGH>;
		reset-gpios = <&pinctrl RZG2L_GPIO(4, 6) GPIO_ACTIVE_HIGH>;

		port {
			imx_to_csi23: endpoint {
				clock-lanes = <0>;
				data-lanes = <1 2>;
				link-frequencies = /bits/ 64 <456000000>;
				remote-endpoint = <&csi23_in>;
			};
		};
	};
};
