// SPDX-License-Identifier: (GPL-2.0-only OR BSD-2-Clause)
/*
 * Device Tree Source for the Kakip ES 1 board
 *
 * Copyright (C) 2024 AMATAMA Co.
 */

/dts-v1/;
#include "r9a09g057.dtsi"
#include "r9a09g057h4-evk-multi-os.dtsi"
#include <dt-bindings/pinctrl/rzg2l-pinctrl.h>
#include <dt-bindings/gpio/gpio.h>

/*
 * Jumper setting
 *
 * Please change the jumper setting corresponding to below Macros:
 *
 * SEL_CAN01_HEADER:
 *	1: CAN0/1	0: External Header Pin
 */

#define SEL_CAN01_HEADER	1

/ {
	model = "Kakip ES 1 based on r9a09g057h4";
	compatible = "renesas,r9a09g057h4-evk-ver1", "renesas,r9a09g057h4", "renesas,r9a09g057";

	aliases {
		serial0 = &scif0;
		serial1 = &sci4;
		serial2 = &sci5;
		mmc0 = &sdhi0;
		ethernet0 = &eth0;
		ethernet1 = &eth1;
	};

	chosen {
		bootargs = "ignore_loglevel";
		stdout-path = "serial0:115200n8";
	};

	ddr0: memory@48000000 {
		device_type = "memory";
		/* first 128MB is reserved for secure area. */
		reg = <0x0 0x48000000 0x1 0xF8000000>;
	};

	reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		global_cma: linux,cma@58000000 {
			compatible = "shared-dma-pool";
			linux,cma-default;
			reusable;
			reg = <0x0 0x58000000 0x0 0x10000000>;
		};

		mmp_reserved: linux,multimedia {
			compatible = "shared-dma-pool";
			reusable;
			reg = <0x00000000 0x68000000 0x0 0x20000000>;
		};

		isp: ISP@90000000 {
			compatible = "shared-dma-pool";
			reusable;
			reg = <0x0 0x90000000 0x0 0x18000000>;
		};

		image_buf0: image_buf@B0000000 {
			compatible = "shared-dma-pool";
			reusable;
			reg = <0x0 0xB0000000 0x0 0x4000000>;
			label = "image_buf0";
		};

		opencva_reserved: OpenCVA@C0000000 {
			reusable;
			reg = <0x0 0xC0000000 0x0 0x7D00000>;
		};

		drp_codec: DRP-Codec@C7D00000 {
			reusable;
			reg = <0x0 0xC7D00000 0x0 0x300000>;
		};

		drp_reserved: DRP-AI@D0000000 {
			reusable;
			reg = <0x0 0xD0000000 0x0 0x20000000>;
		};
	};

	mmngr {
		compatible = "renesas,mmngr";
		memory-region = <&mmp_reserved>;
	};

	mmngrbuf {
		compatible = "renesas,mmngrbuf";
	};

	vspm_if {
		compatible = "renesas,vspm_if";
	};

	reg_1p8v: regulator0 {
		compatible = "regulator-fixed";

		regulator-name = "fixed-1.8V";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		regulator-boot-on;
		regulator-always-on;
	};

	reg_3p3v: regulator1 {
		compatible = "regulator-fixed";

		regulator-name = "fixed-3.3V";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-boot-on;
		regulator-always-on;
	};

	vccq_sdhi0: regulator-vccq-sdhi0 {
		compatible = "regulator-gpio";

		regulator-name = "SDHI0 VccQ";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <3300000>;

		gpios = <&pinctrl RZG2L_GPIO(10, 0) GPIO_ACTIVE_HIGH>;

		gpios-states = <0>;
		states = <3300000 0 1800000 1>;
	};

	hdmi-out {
		compatible = "hdmi-connector";
		type = "d";

		port {
			hdmi_con_out: endpoint {
				remote-endpoint = <&adv7535_out>;
			};
		};
	};

	clk_ext_camera: clk_ext_camera {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <24000000>;
	};

	x1_clk: x1-clock {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <24000000>;
	};

    udmabuf@0 {
        compatible = "ikwzm,u-dma-buf";
        device-name = "udmabuf0";
        minor-number = <0>;
        size = <0x4000000>; // 64MiB
        dma-coherent;
        memory-region = <&image_buf0>;
    };
};

&pinctrl {
	gpio-line-names = \
	"", "", "", "","", "", "", "", \
	"", "", "", "","", "", "", "", \
	"", "", "", "","", "", "", "", \
	"", "", "", "","", "", "", "", \
	"", "", "", "","", "", "", "", \
	"", "", "", "","", "", "", "", \
	"", "", "", "","", "", "", "", \
	"", "GPIO4", "GPIO14", "GPIO15","GPIO5", "", "GPIO2", "GPIO3", \
	"", "", "GPIO16", "GPIO17","GPIO0", "GPIO1", "", "", \
	"GPIO10", "GPIO9", "GPIO11", "GPIO8","GPIO7", "GPIO18", "GPIO19", "GPIO21", \
	"", "", "", "","GPIO12", "GPIO13", "GPIO20", "GPIO6", \
	"GPIO22", "GPIO24", "GPIO25", "GPIO26","GPIO27", "GPIO23", "", "";

#if (SEL_CAN01_HEADER)
	can0_pins: can0 {
		pinmux = <RZG2L_PORT_PINMUX(8, 0, 5)>, /* TX */
			 <RZG2L_PORT_PINMUX(8, 1, 5)>; /* RX */
	};

	can1_pins: can1 {
		pinmux = <RZG2L_PORT_PINMUX(8, 2, 5)>, /* TX */
			 <RZG2L_PORT_PINMUX(8, 3, 5)>; /* RX */
	};
#endif

	scif0_pins: scif0 {
		pins =  "SCIF_RXD", "SCIF_TXD";
	};

	sci4_pins: sci4 {
		pinmux = <RZG2L_PORT_PINMUX(8, 4, 6)>, /* SCI4_TXD_MOSI_SDA */
			 <RZG2L_PORT_PINMUX(8, 5, 6)>; /* SCI4_RXD_MISO_SCL */
	};

	sci5_pins: sci5 {
		pinmux = <RZG2L_PORT_PINMUX(8, 6, 6)>, /* SCI5_TXD_MOSI_SDA */
			 <RZG2L_PORT_PINMUX(8, 7, 6)>; /* SCI5_RXD_MISO_SCL */
	};

	sd0_pwr_en {
		gpio-hog;
		gpios = <RZG2L_GPIO(10, 1) GPIO_ACTIVE_HIGH>;
		output-high;
		line-name = "sd0_pwr_en";
	};

	sd1_pwr_en {
		gpio-hog;
		gpios = <RZG2L_GPIO(10, 3) GPIO_ACTIVE_HIGH>;
		output-high;
		line-name = "sd1_pwr_en";
	};

	i2c0_pins: i2c0 {
		pinmux = <RZG2L_PORT_PINMUX(3, 0, 1)>, /* I2C0_SDA */
			 <RZG2L_PORT_PINMUX(3, 1, 1)>; /* I2C0_SCL */
	};

	i2c1_pins: i2c1 {
		pinmux = <RZG2L_PORT_PINMUX(3, 2, 1)>, /* I2C1_SDA */
			 <RZG2L_PORT_PINMUX(3, 3, 1)>; /* I2C1_SCL */
	};

	i2c2_pins: i2c2 {
		pinmux = <RZG2L_PORT_PINMUX(3, 4, 1)>, /* I2C2_SDA */
			 <RZG2L_PORT_PINMUX(3, 5, 1)>; /* I2C2_SCL */
	};

	i2c3_pins: i2c3 {
		pinmux = <RZG2L_PORT_PINMUX(3, 6, 1)>, /* I2C3_SDA */
			 <RZG2L_PORT_PINMUX(3, 7, 1)>; /* I2C3_SCL */
	};

	i2c4_pins: i2c4 {
		pinmux = <RZG2L_PORT_PINMUX(6, 0, 4)>, /* I2C4_SDA */
			 <RZG2L_PORT_PINMUX(6, 1, 4)>; /* I2C4_SCL */
	};

	i2c5_pins: i2c5 {
		pinmux = <RZG2L_PORT_PINMUX(6, 2, 4)>, /* I2C5_SDA */
			 <RZG2L_PORT_PINMUX(6, 3, 4)>; /* I2C5_SCL */
	};

	i2c6_pins: i2c6 {
	};

	i2c7_pins: i2c7 {
	};

	i2c8_pins: i2c8 {
	};

	usb30_pins: usb30 {
		pinmux = <RZG2L_PORT_PINMUX(6, 4, 15)>; /* VBUS */
	};

	usb31_pins: usb31 {
		pinmux = <RZG2L_PORT_PINMUX(6, 6, 15)>; /* VBUS */
	};

	usb20_pins: usb20 {
	};

	usb21_pins: usb21 {
	};

	spi0_pins: spi0 {
		pinmux = <RZG2L_PORT_PINMUX(9, 1, 1)>, /* MISO */
			 <RZG2L_PORT_PINMUX(9, 0, 1)>, /* MOSI */
			 <RZG2L_PORT_PINMUX(9, 3, 1)>, /* SSL0 */
			 <RZG2L_PORT_PINMUX(9, 4, 1)>, /* SSL0 */
			 <RZG2L_PORT_PINMUX(9, 2, 1)>; /* RSPCK */
	};

#if (!SEL_CAN01_HEADER)
	spdif0_pins: spdif0 {
		pinmux = <RZG2L_PORT_PINMUX(8, 0, 8)>, /* SPDIF0_OUT */
			 <RZG2L_PORT_PINMUX(8, 1, 8)>; /* SPDIF0_IN */
	};

	spdif2_pins: spdif2 {
		pinmux = <RZG2L_PORT_PINMUX(8, 2, 8)>, /* SPDIF2_OUT */
			 <RZG2L_PORT_PINMUX(8, 3, 8)>; /* SPDIF2_IN */
	};
#endif

};

&extal_clk {
	clock-frequency = <24000000>;
};

&ostm2 {
	status = "okay";
};

&ostm3 {
	status = "okay";
};

&scif0 {
	pinctrl-0 = <&scif0_pins>;
	pinctrl-names = "default";

	status = "okay";
};

&sci4 {
	pinctrl-0 = <&sci4_pins>;
	pinctrl-names = "default";
	status = "okay";
};

&sci5 {
	pinctrl-0 = <&sci5_pins>;
	pinctrl-names = "default";
	status = "okay";
};

&sdhi0 {
	vmmc-supply = <&reg_3p3v>;
	vqmmc-supply = <&vccq_sdhi0>;
	non-removable;
	bus-width = <4>;
	sd-uhs-sdr50;
	status = "okay";
};

&eth0 {
	phy-handle = <&phy3>;
	phy-mode = "rgmii-id";
	status = "okay";

	mdio {
		#address-cells = <1>;
		#size-cells = <0>;
		phy3: ethernet-phy@3 {
			compatible = "ethernet-phy-id0022.1640",
				     "ethernet-phy-ieee802.3-c22";
			reg = <3>;
			rxc-skew-psec = <1400>;
			txc-skew-psec = <1400>;
			rxdv-skew-psec = <0>;
			txdv-skew-psec = <0>;
			rxd0-skew-psec = <0>;
			rxd1-skew-psec = <0>;
			rxd2-skew-psec = <0>;
			rxd3-skew-psec = <0>;
			txd0-skew-psec = <0>;
			txd1-skew-psec = <0>;
			txd2-skew-psec = <0>;
			txd3-skew-psec = <0>;
		};
	};
};

&eth1 {
	phy-handle = <&phy1>;
	phy-mode = "rgmii-id";
	status = "disabled";

	mdio {
		#address-cells = <1>;
		#size-cells = <0>;
		phy1: ethernet-phy@0 {
			compatible = "ethernet-phy-id0022.1640",
				     "ethernet-phy-ieee802.3-c22";
			reg = <0>;
			rxc-skew-psec = <1400>;
			txc-skew-psec = <1400>;
			rxdv-skew-psec = <0>;
			txdv-skew-psec = <0>;
			rxd0-skew-psec = <0>;
			rxd1-skew-psec = <0>;
			rxd2-skew-psec = <0>;
			rxd3-skew-psec = <0>;
			txd0-skew-psec = <0>;
			txd1-skew-psec = <0>;
			txd2-skew-psec = <0>;
			txd3-skew-psec = <0>;
		};
	};
};

&i2c0 {
	pinctrl-0 = <&i2c0_pins>;
	pinctrl-names = "default";

	status = "okay";
	clock-frequency = <400000>;
};

&i2c1 {
	pinctrl-0 = <&i2c1_pins>;
	pinctrl-names = "default";

	status = "okay";
	clock-frequency = <400000>;
};

&i2c2 {
	pinctrl-0 = <&i2c2_pins>;
	pinctrl-names = "default";

	status = "okay";
	clock-frequency = <400000>;
};

&i2c3 {
	pinctrl-0 = <&i2c3_pins>;
	pinctrl-names = "default";

	status = "okay";
	clock-frequency = <400000>;
};

&i2c4 {
	pinctrl-0 = <&i2c4_pins>;
	pinctrl-names = "default";

	status = "okay";

	adv7535: hdmi@4d {
		compatible = "adi,adv7535";
		reg = <0x3d>;

		avdd-supply = <&reg_1p8v>;
		dvdd-supply = <&reg_1p8v>;
		pvdd-supply = <&reg_1p8v>;
		a2vdd-supply = <&reg_1p8v>;
		v3p3-supply = <&reg_3p3v>;
		v1p2-supply = <&reg_1p8v>;

		interrupt-parent = <&pinctrl>;
		interrupts = <RZG2L_GPIO(7, 1) IRQ_TYPE_LEVEL_LOW>;

		adi,dsi-lanes = <4>;

		ports {
			#address-cells = <1>;
			#size-cells = <0>;

			port@0 {
				reg = <0>;
				adv7535_in: endpoint@0 {
					remote-endpoint = <&dsi0_out>;
				};
			};

			port@1 {
				reg = <1>;
				adv7535_out: endpoint@1 {
				remote-endpoint = <&hdmi_con_out>;
				};
			};
		};
	};
};

&i2c5 {
	pinctrl-0 = <&i2c5_pins>;
	pinctrl-names = "default";

	status = "okay";
};

&du {
	status = "okay";
};

&dsi0 {
	status = "okay";

	ports {
		port@1 {
			dsi0_out: endpoint {
				remote-endpoint = <&adv7535_in>;
				data-lanes = <1 2 3 4>;
			};
		};
	};
};

&cru0 {
	status = "okay";
};

&csi20 {
	status = "okay";
};

&cru1 {
	status = "okay";
};

&csi21 {
	status = "okay";
};

&cru2 {
	status = "okay";
};

&csi22 {
	status = "okay";
};

&cru3 {
	status = "okay";
};

&csi23 {
	status = "okay";
};

&xhci0 {
		pinctrl-0 = <&usb30_pins>;
		pinctrl-names = "default";

		memory-region = <&global_cma>;
		status = "okay";
};

&xhci1 {
		pinctrl-0 = <&usb31_pins>;
		pinctrl-names = "default";

		memory-region = <&global_cma>;
		status = "okay";
};

&usb20phyrst {
	status = "disable";
};

&usb21phyrst {
	status = "disable";
};

&ohci0 {
		memory-region = <&global_cma>;

		dr_mode = "otg";
		status = "okay";
};

&ohci1 {
		memory-region = <&global_cma>;

		status = "okay";
};

&ehci0 {
		memory-region = <&global_cma>;

		dr_mode = "otg";
		status = "okay";
};

&ehci1 {
		memory-region = <&global_cma>;

		status = "okay";
};

&hsusb {
		dr_mode = "otg";
		status = "okay";
};

&usb2_phy0 {
		pinctrl-0 = <&usb20_pins>;
		pinctrl-names = "default";

		status = "disable";
};

&usb2_phy1 {
		pinctrl-0 = <&usb21_pins>;
		pinctrl-names = "default";

		status = "disable";
};

#if (SEL_CAN01_HEADER)
&canfd {
	pinctrl-0 = <&can0_pins &can1_pins>;
	pinctrl-names = "default";
	status = "okay";

	channel0 {
		status = "okay";
	};

	channel1 {
		status = "okay";
	};
};
#endif

&rtc {
	status = "okay";
};

&wdt1 {
	status = "okay";
};

&drp1 {
    memory-region = <&codec0>;
    memory-oca-region = <&opencva0>;

    status = "okay";
};

&spi0 {
	pinctrl-0 = <&spi0_pins>;
	pinctrl-names = "default";

	status = "okay";
};

&xspi {
	status = "okay";

	flash@0 {
		compatible = "micron,mt25qu512a", "jedec,spi-nor";
		reg = <0>;
		m25p,fast-read;
		spi-max-frequency = <50000000>;
		spi-tx-bus-width = <1>;
		spi-rx-bus-width = <1>;

		partitions {
			compatible = "fixed-partitions";
			#address-cells = <1>;
			#size-cells = <1>;

			partition@000000 {
				label = "bl2";
				reg = <0x00000000 0x0001D200>;
				read-only;
			};

			partition@01D200 {
				label = "fip";
				reg = <0x0001D200 0x001C2E00>;
				read-only;
			};

			partition@1E0000 {
				label = "env";
				reg = <0x001E0000 0x00020000>;
				read-only;
			};

			partition@200000 {
				label = "test-area";
				reg = <0x00200000 0x00E00000>;
			};
		};
	};
};

&pcie0 {
	/* Map all possible DDR as inbound ranges */
	dma-ranges = <0x42000000 0 0x40000000 0 0x40000000 0x4 0x00000000>;

	status = "okay";
};

&drpai0 {
    memory-region = <&drp_reserved>;
    image-memory-region = <&image_buf0>;
    status = "okay";
};
